<!-- Content Wrap  -->
<div class="content-wrap">


  <div class="login-section">
    <form class="form" action="##" method="post" id="setting">
      <div class="fb-text-heading">تغيير كلمة المرور</div>
      <div class="stt-form">


        <div class="form-group tar">
          <div class="col-xs-12">
            <label for="email">البريد الالكتروني </label>
            <input type="email" class="form-control tar" name="email" id="email" placeholder="البريد الالكتروني" title="البريد الالكتروني "></div>
        </div>
      </div>
      <div class="submit-btn">
        <div class="col-12">
          <button class="theme-button" type="submit">تأكيد</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- .Content wrap  -->
