<!-- Content Wrap  -->
<div class="content-wrap">


  <div class="login-section">
    <form class="form" action="##" method="post" id="setting">
      <div class="fb-text-heading">تسجيل الدخول</div>
      <div class="stt-form">


        <div class="form-group tar">
          <div class="col-xs-12">
            <label for="email">البريد الالكتروني </label>
            <input type="email" class="form-control tar" required name="email"  id="email" placeholder="البريد الالكتروني" title="البريد الالكتروني "></div>
        </div>
        <div class="form-group tar">
          <div class="col-xs-12">
            <label for="new_password">كلمة المرور</label>
            <input type="password" class="form-control tar" required name="password" id="password" placeholder="*********" title="********"></div>
        </div>



      </div>
      <div class="submit-btn">
        <div class="col-12">
          <button class="theme-button" type="submit">تسجيل الدخول</button>
        </div>
      </div>
    </form>
    <div class="row-forgot">
      <a class="forgotr" routerLink="/reset-password">هل نسيت كلمة المرور</a>
    </div>
    <div class="wrap-line-or">
      <div class="or-line">
        <div class="ol-or">او</div>
        <div class="ol-line"></div>
      </div>
    </div>
    <!--  <div class="sign-in-sosmed">
       <div class="sign-in-icon sii-facebook">
         <div class="icon-centerxy"><i class="fab fa-facebook-f"></i></div>
       </div>
       <div class="sign-in-icon sii-twitter">
         <div class="icon-centerxy"><i class="fab fa-twitter"></i></div>
       </div>
       <div class="clear"></div>
     </div> -->
    <div class="row-forgot">
      <a class="forgotr" routerLink="/register">ليس لديك حساب ؟ قم بإنشائه الآن</a>
    </div>


  </div>
</div>
<!-- .Content wrap  -->

