<!-- Content Wrap  -->
<div class="content-wrap">


  <div class="register-section ">
    <form class="form" action="##" method="post" id="setting">
      <div class="fb-text-heading">إنشاء حساب</div>
      <div class="fb-text">قم بإدخال جميع المعلومات لإنشاء حساب جديد</div>
      <div class="stt-form">
        <div class="form-group tar">
          <div class="col-xs-12">
            <label for="first_name">الإسم</label>
            <input type="text" class="form-control tar" name="first_name" id="first_name" placeholder="الإسم"
                   title="enter your first name if any.">
          </div>
        </div>
        <div class="form-group tar">
          <div class="col-xs-12">
            <label for="last_name">اللقب</label>
            <input type="text" class="form-control tar" name="last_name" id="last_name" placeholder="اللقب"
                   title="enter your last name if any.">
          </div>
        </div>
        <div class="form-group tar">
          <div class="col-xs-12">
            <label for="email">البريد الالكتروني</label>
            <input type="email" class="form-control tar" name="email" id="email" placeholder="البريد الالكتروني"
                   title="enter your email.">
          </div>
        </div>
        <div class="form-group tar">
          <div class="col-xs-12">
            <label for="new_password">كلمة المرور</label>
            <input type="password" class="form-control tar" name="password" id="new_password" placeholder="كلمة المرور"
                   title="enter your password.">
          </div>
        </div>
        <div class="form-group tar">
          <div class="col-xs-12">
            <label for="password2">تأكيد كلمة المرور</label>
            <input type="password" class="form-control tar" name="password2" id="password2" placeholder="تأكيد كلمة المرور"
                   title="enter your password 2.">
          </div>
        </div>
      </div>


      <div class="submit-btn">
        <div class="wrap-sbtn">
          <button class="theme-button" type="submit">انشاء حساب</button>
          <button class="theme-button" type="reset">مسح</button>
        </div>
      </div>

    </form>
    <div class="row-forgot">
      <a class="forgotr" href="login.html">هل لديك حساب ؟ قم بتسجبل الدخول الآن</a>
    </div>
  </div>


</div>
<!-- .Content wrap  -->
